/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Stlying */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

/* Navbar */
#navbar {
  background: #fff;
  color: #333;
  overflow: auto;
}

#navbar a {
  color: #333;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar #sign-in a {
  background: #444;
  color: #7fffd4;
  border-radius: 50%;
}

#navbar ul li a:hover {
  background: #444;
  color: #7fffd4;
}

/* Basic Panels Layout */
.box-users {
  float: left;
  min-width: 33.33%;
  padding: 10px;
  text-align: center;
}

.box-users ul {
  list-style: none;
  border-style: solid;
  /* box-shadow: 3px 3px rgb(235, 223, 223);
  border-color: rgb(235, 223, 223); */
  box-shadow: 3px 3px #52a78a;
  border-color: #52a78a;
  border-width: 2px;
}

.box-users ul li {
  text-align: left;
  padding: 10px;
}

.user-greetings #section-header {
  padding-top: 100px;
}

.user-greetings .user-details {
  font-weight: 600;
}

.user-greetings .details-id {
  font-size: 12px;
  font-weight: 400;
}

.box-users ul:hover {
  background: #444;
  color: #7fffd4;
}
