/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Stlying */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

/* Navbar */
#navbar {
  background: #fff;
  color: #333;
  overflow: auto;
}

#navbar a {
  color: #333;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar #sign-in a {
  background: #444;
  color: #7fffd4;
  border-radius: 50%;
}

#navbar ul li a:hover {
  background: #444;
  color: #7fffd4;
}

/* Sidebar */
.user-greetings {
  padding: 50px 20px 20px 20px;
}

.user-greetings .side-menu {
  float: left;
  max-width: 33%;
  padding: 20px;
  text-align: center;
}

.user-greetings .side-menu ul {
  list-style: none;
}

.user-greetings .side-menu ul li a {
  display: block;
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.user-greetings .side-menu ul li a:hover {
  background: #444;
  color: #7fffd4;
  border-radius: 10px;
}

.user-greetings .user-info {
  float: left;
  max-width: 67%;
}

/* Basic Panels Layout */
.box-users {
  float: left;
  min-width: 10%;
  padding: 10px;
  text-align: center;
}

.box-users ul {
  float: left;
  list-style: none;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 3px 3px #52a78a;
  border-color: #52a78a;
  border-width: 2px;
  margin: 10px;
}

.box-users ul li {
  text-align: left;
  padding: 10px;
}

.user-greetings #section-header {
  text-align: left;
}

.user-greetings .user-details {
  font-weight: 600;
}

.user-greetings .details-id {
  font-size: 12px;
  font-weight: 400;
}

.box-users ul:hover {
  background: #444;
  color: #7fffd4;
}

/* Overlay */
.add-user-modal,
.edit-user-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.add-user-modal-contents,
.edit-user-modal-contents {
  height: 320px;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.overlay #first-name,
#last-name,
#enter-greeting {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}

.overlay #add-new-greeting-header,
#edit-greeting-header {
  padding: 5px;
}

.overlay .submit-button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background: rgb(194, 194, 193);
}

.overlay .submit-button:hover {
  background: #444;
  color: #7fffd4;
}

.overlay .close-button-for-add-user,
.overlay .close-button-for-edit-user {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.overlay .close-button:hover {
  color: #666;
  border-radius: 4px;
}
